[submodule "vscode-whats-new"]
	path = vscode-whats-new
	url = https://github.com/alefragnani/vscode-whats-new.git
[submodule "vscode-project-manager-core"]
	path = vscode-project-manager-core
	url = https://github.com/alefragnani/vscode-project-manager-core.git
